@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

* {
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 10vh;
  width: 100vw;
  background-color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  }
  
  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 300px;

  }
  
  .grid-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

.grid-item:hover {
  transform: scale(1.03);
  border-radius: 10px;
}
  

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: #d9f6cd;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
  }

  .overlay:hover {
    opacity: 80%;
  }

  nav {
    display: flex;
    min-height: 9vh;
    background: black;
    flex-wrap: wrap;
  }
 
  @media screen and (max-width: 768px) {
    nav {
      flex-direction: column;
      justify-content: center;
      width: 90%;
    }
  }

  .nav-links {
    min-width: 20%;
    max-width: 25%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-left: auto;
    margin-right: 50px;
  }

  @media screen and (max-width: 768px) {
    .nav-links{
      width: auto;
      margin-right: 50px;
      gap: 30px;
    }
  } 

  .button-div {
    background-color: black;
    padding: 5px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    width: fit-content;
  }
  
  .button-div:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .links {
    color: white;
    text-decoration: none !important;
  }

  .links:hover {
    color: #FF715B;
  }

  .hero-search {
    background-color: rgb(238, 238, 238);
    margin: 15px;
    min-width: 30%;
    height: 2rem;
    border-radius: 5px;
    border: 5px inset rgb(37, 36, 36);
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-transform: capitalize;
  }

  .search-page {
    background-color: #000000;
  }

  .header {
    position: fixed;
    width: 0;
    top: 0;
    z-index: 999;
  }

  .home-page {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    height: 100vh;
  }

  .image-container {
    left: 0;
    top: 0;
    width: 50%;
    height: 100vh;
  }
  
  .image-container img {
    height: 100vh;
    object-fit: contain;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .home-page {
      grid-template-columns: 1fr;
    }
  }
  
  .superhero-page {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    height: 100vh;
  }

  
h1 {
  font-size: 70px;
}

ul {
  list-style-type: none;
  font-size: 22px;
}

p {
  font-size: 22px;
}

@media (max-width: 768px) {
  .superhero-page {
    grid-template-columns: 1fr;
  }
}

.home-link {
  max-width: 90%;
}

.home-link:hover {
  color: #FF715B;
}


